* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid rgba(102, 138, 81, 0.548);
    margin-top: 15px;
    max-width: 90vw;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.beer:hover {
    cursor: pointer;
    transform: scale(1.01);
    border-radius: 20px;
    background: rgba(0, 128, 128, 0.137);
    transform: translateZ(0);
    backface-visibility: hidden;
}

.beer__body {
    max-width: 95%;
}

.beer__btns {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    column-gap: 15px;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    background: rgba(255, 166, 0, 0.336);
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(235, 233, 233);
    position: sticky;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar {
    max-width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f2f2f2;
}
