.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: rgba(2, 176, 176, 0.362);
        border: 1px solid rgb(3, 77, 77);
        color: rgb(3, 77, 77);
        transition: all 0.3s ease;
    }
}
